
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <button onclick="vm.openForm()">open form</button>
    <h1>{{'nilai a:' +a}}</h1>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
      el: '#app',
      data: {
        a:0,
        rata:[]
      },
      computed : {
          total : {
              get(){
         
              },
              set(param){
                this.rata.push({ a:'1' });
              }
          }
      },
      methods : {
          openForm:function(){
               this.a= prompt('masukaan nilai')
          
          },
          storerata() {
            this.rata.push(this.rata);
            this.rata = "";
          },
      }
  })
  </script>
</body>
</html>
